In [1]:
import pandas as pd
df = pd.DataFrame([
    ['1', 'Selena', 32, True],
    ['2', 'Nirvana', 23, False],
    ['1', 'layla', 40, True]])
df.columns = ['id', 'name', 'age', 'decision']
print(df)

  id     name  age  decision
0  1   Selena   32      True
1  2  Nirvana   23     False
2  1    layla   40      True

In [2]:
df[['name','age']]

      name  age
0   Selena   32
1  Nirvana   23
2    layla   40

In [3]:
df.iloc[:,3]

0     True
1    False
2     True
Name: decision, dtype: bool

In [5]:
df.iloc[1:3:]

  id     name  age  decision
1  2  Nirvana   23     False
2  1    layla   40      True

In [8]:
df[df.age>30]

  id    name  age  decision
0  1  Selena   32      True
2  1   layla   40      True